:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*link*/
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #3238a5;/*rê chuột*/
}
body {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items:center;
  min-width: 320px;
  min-height: 100vh;
}
h2{
  margin: 0;
  width:232px;
  height:24px;
  font-weight:bold;/*chữ đậm*/
}
input{
  width: 235px;
  font-size: 16px;
  padding : 1px;
  border: 2px solid #0a2957;
  border-radius: 5px;/*bo góc*/
  box-sizing: border-box;
}
button{
  width: 235px;
  padding: 1px;
  border: 2px solid #0a2957;
  border-radius: 5px;/*bo góc*/
  box-sizing: border-box;
}
button:active{
  transform:translateY(1px);
}
